* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.portada {
    position: relative;
    background-image: url('../img/pexels-philipp-birmes-830891\ \(1\).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.portada::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.5);
    content: '';
}

.subtitulo,
.descripcion,
.descripcion,
.btn {
    font-family: 'Raleway', sans-serif;
}

.titulo {
    font-family: 'Cookie', cursive;
    font-size: 90px;
    font-style: italic;
    font-weight: lighter;
}

.portada .titulo,
.portada .subtitulo,
.portada .descripcion,
.portada .boton-portada {
    margin-bottom: 50px;
    color: white;
    z-index: 2;
}

.portada .titulo {
    font-size: 90px;
}

.portada .subtitulo {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 36px;
    font-weight:bolder
}

.portada .descripcion {
    font-size: 24px;
}

.btn {
    z-index: 2;
}
.btn button {
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    border: 3px solid white;
    border-radius: 2px;
    z-index: 2;
}

nav {
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.logo {
    margin-left: 10px;
}

.btn-menu-responsive {
    margin-right: 15px;
}

.nav2 {
    position: absolute;
    display: flex;
    transition: height 0.5s ease;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 66px;
    left: 0;
    right: 0;
    text-align: center;
    height: 0;
    overflow: hidden;
}

.nav2 a {
    margin: 0;
    padding: 15px;
    width: 100%;
    color:white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

.logo a {
    font-size: 50px;
    font-family: 'Cookie', cursive;
    text-decoration: none;
    color: white;
}

.btn-menu-responsive {
    background-image: url('../img/menu.svg');
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

section {
    display: flex;
    flex-direction: column;
}

h1, h2, p {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 35px;
    justify-content: center;
}

.titulo-about {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.linea {
    height: 4px;
    width: 60px;
    background-color: rgb(57, 211, 238);
    margin-top: 30px;
}

.about-texto {
    font-size: 24px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.contenido-about {
    flex-direction: column;
    margin: 0 20px 20px;
}

.img-personas {
    margin-bottom: 30px;
}

.img-personas img {
    width: 100%;
    height: auto;
}

.informacion-about {
    margin-left: 20px;
    margin-right: 20px;
}

.titulo-informacion {
    font-size: 36px;
}

.text {
    margin-top: 30px;
    font-size: 24px;
}

.titulo-servicios {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}

.text-servicios {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 24px;
    margin-bottom: 50px;
}

.services-grid {
    grid-template-columns: 1fr;
    gap: 30px;
    display:grid;
    margin: 0 20px;
}

.icono-servicio {
    position: relative;
    display: inline-flex;
    background-color: #03C4EB;
    width: 64px;
    height: 64px;
    float: left;
    border-radius: 50%;
}

.service-content {
    margin-left: 100px;
}

.service-description {
    font-size: 24px;
}

.subs {
    position: relative;
    background-image:url('../img/pexels-pixabay-417344.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    color: white;
    margin-top: 80px;
}

.subs  .bnt-sub {
    color: white;
    padding: 16px 32px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    border: 3px solid white;
    border-radius: 2px;
    font-size: 18px;
    margin: 0;
}

.sub-updates,
.text-sub {
    margin: 0 20px;
    text-align: center;
}

.text-sub {
    font-size: 24px;
}

.portafolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 80px;
}

.text-portafolio {
    margin-top: 50px;
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
}

.indice-portafolio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.indice-portafolio a {
    color: black;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    margin-right: 30px;
    font-size: 18px;
    margin-bottom: 80px;
}

.indice-portafolio a:last-child {
    margin-right: 0;
}

.fotos {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-left: 20px;
    margin-right: 20px
}

.fotos img {
    width: 100%;
    height: auto;
}

.testimonials {
    background-color: rgb(241, 243, 245);
    margin-top: 100px;
    padding: 30px;
}

.testimonial {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.testimonial h1 {
    margin-top: 30px;
}

.text-testimonial {
    font-size: 24px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.box-testimonial {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
}

.testimonial-client {
    background-color: white;
    padding: 90px;
}

.client {
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
}

.client p {
    font-size: 24px;
}

.client img {
    border-radius: 50%;
    width: 350px;
    border: 10px solid white;
}

.box-testimonial .testimonial-client,
.box-testimonial:nth-child(odd) .testimonial-client {
    margin: 0;
    padding: 30px;
}

.box-testimonial .testimonial-client p,
.box-testimonial:nth-child(odd) .testimonial-client p {
    font-size: 24px;
}

.our-teams {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    width: 100%;
}

.text-team {
    margin-top: 50px;
    font-size: 24px;
    margin-right: 20px;
    margin-left: 20px;
}

.team {
    flex-direction: column;
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
}

.teammate {
    text-align: center;
    margin-bottom: 30px;
}

.teammate p {
    font-size: 24px;
}

.teammate img {
    width: 100%;
    height: auto;
}

.active {
    height: calc(100vh - 50vh);
}



